.git
.gitignore
.gitattributes
.env
.env.backup
.env.development
.env.staging
vendor/
node_modules/
npm-debug.log
composer.lock
package-lock.json
public/build/
public/hot/
public/storage/
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/database.sqlite
tests/
phpunit.xml
.vscode/
.idea/
Dockerfile
.dockerignore
render.yaml
README.md
